@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800&display=swap&#39;');
*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

:root{
    --defaultcolor: #55A2A6;
    --defaultblack: #151515;
    --lighblack: #333333;
    --darkerblack: #111111;
    --lightblack2:#444444;
    --defaultgray:#CCC;
    --darkergray: #B2B2B2;
}

html{
    scroll-behavior: smooth;
}

body, 
main,
nav, 
footer, 
main > section,
.about > blockquote,
.features a,
.about > section> article{
    display: flex;
    flex-direction: column;
}

h1, h3{
    text-transform: capitalize;
}

h1{
    color: var(--darkerblack);
}

h2{
    color: white;
    text-transform: uppercase;
}

h3{
    color: var(--lighblackblack2);
}

a{
    text-decoration: none;
}

@media(min-width:250px){
    /* nav */

    nav >ul{
        display: none;
    }

    nav aside{
        display: flex;
        justify-content: space-between;
        background-color: var(--darkerblack);
        color: white;
        align-items: center;
        padding-top: 2vh;
        padding-right: 2vh;
    }

    nav h2{
        padding-left: 5vh;
    }

    details{
        position: absolute;
        width: 95%;
        padding-right: 5%;
        text-align: right;
    }

    details ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--darkerblack);
    }

    details li{
        display: flex;
    }

    details a{
        color: white;
        padding: 3%;
        width: 100%;
    }

    summary{
        font-size: 24px;
    }

    /* header */
    header{
        background-image: url(/img/pexels-cottonbro-studio-5054532.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    header article{
        background-color: rgba(50,50,50,.4);
        height: 100%;
        width: 100%;
    }
      /* main */

      main{
        row-gap: 5vh;
    }

    /* features */

    .features blockquote{
        color: white;
        padding: 4%;
        text-align: center;
        padding-left: 20%;
        padding-right: 20%;
        line-height: 1.5;
        background-color: var(--defaultcolor);
    }

    .features q,
    .features cite{
        width: 80%;
    }

    .features > article{
        display: flex;
        flex-direction: column;
        row-gap: 10vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .features a{
        align-items: center;
        row-gap: 2vh;
        color: var(--darkerblack);
    }

    .features i{
        font-size: 48px;
        padding-right: 3%;
    }

    .features h3{
        width: 40%;
        text-align: center;
    }

    .features p{
        color: var(--darkergray);
        font-weight: 500;
    }

    /* about */

    .about{
        padding: 5%;
        row-gap: 5vh;
    }

    .about > article{
        display: flex;
        align-items: center;
        column-gap: 1vh;
    }

    .about aside{
        display: flex;
        border: 2px solid var(--defaultgray);
        width: 30%;
        height: 1vh;
        background-color: var(--defaultgray);
    }

    .about section{
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
    }

    .about section article{
        row-gap: 3vh;
    }

    .about p{
        line-height: 1.5;
        color: var(--defaultgray);
        font-size: 12px;
    }

    .about a{
        width: 30%;
        background-color: var(--defaultcolor);
        text-align: center;
        color: whitesmoke;
        padding: 1%;
    }

    .about blockquote{
        border-left: 10px solid var(--defaultcolor);
        padding: 3%;
        row-gap: 3vh;
    }

    .about q{
        padding-left:5%;
        line-height: 1.5;
        font-style: italic;
        font-size: 12px;
        color: var(--lightblack2);
    }

    .about cite{
        color: var(--defaultcolor);
        text-transform: uppercase;
        padding-left: 5%;
    }

    /* footer */
    footer{
        background-color: var(--defaultblack);
        row-gap: 5vh;
        padding: 5%;
        border-top: 5px solid lightskyblue;
    }

    footer > section,
    footer > article{

    }

    footer section,
    footer aside,
    footer > article > article,
    footer> article {
        display: flex;
        flex-direction: column;
        row-gap: 4vh;
    }

    footer section > aside{
        column-gap: 2vh;
        flex-direction: row;
    }

    aside > form{
        padding: 2%;
        display: flex;
    }

    input{
        padding: 2%;
        border: none;
        background-color: var(--lightblack2);
    }

    input,
    input::placeholder{
        color: var(--defaultgray);
    }
  
    [type="email"]{
        background-color: var(--lighblack);
    }

    footer a{
        font-size: 18px;
        color: var(--defaultgray);
        border-radius: 50%;
        border: 2px solid var(--defaultgray);
        height: 4vh;
        width: 4vh;
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    footer h3{
        text-transform: uppercase;
        color: var(--defaultgray);
    }

    footer p{
        color: var(--darkergray);
    }

    footer > section{
        background-color: var(--darkerblack);
        border-top: 1px solid var(--lighblack);
    }

    footer span{
        color: white;
    }







}

